.middle-block {
    display: flex;
    justify-content: end;
}
.middle-block > * {
    margin-left: 1em;
}
.middle-block div{
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #d1d2d2;
    border-radius: 0.5em;
}
.announcer {
    opacity:  0;
    transition: opacity 1s;
}
.announcer-error {
    border-color: crimson;
    background-color: rgba(220,20,60,0.5);
}
.announcer-success {
    background-color: #d1d2d2;
}
.visible {
    opacity: 1;
}
.invisible {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .middle-block div {
        padding: .5em;
    }
}
