.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name, .dateOfCreation{
    width: 5em;
    min-width: 5em;
}
.category{
    width: 4.5em;
    min-width: 4.5em;
}
.number{
    width: 6em;
    min-width: 6em;
}
.text {
    flex: 1;
}
@media screen and (max-width: 600px) {
    .primary {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .secondary {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .tertiary {
        display: none;
    }
}
