@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
    color: #424242;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
button:not(.icon){
    font-size: medium;
    padding: .5em 1em;
    background-color: rgb(222, 222, 222);
    border-radius: .5em;
}

@media screen and (max-width: 800px) {
    button:not(.icon){
        font-size: initial;
        padding: .5em;
        background-color: rgb(222, 222, 222);
        border-radius: .5em;
    }
}
